
/* background-image: linear-gradient(112.5deg, rgb(76,175,79) 0%, rgb(76,175,79) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(157.5deg, rgb(76,175,79) 0%, rgb(76,175,79) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(335deg, rgb(76,175,79) 0%, rgb(76,175,79) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(290deg, rgb(195, 195, 195),rgb(76,175,79)); background-blend-mode:overlay,overlay,overlay,normal; */
:root{
    --colorv2:#4caf4f;
    --color:rgb(76, 175, 79);
    --color2:#fff;
    --color3:#000;
    --backgroundHero: linear-gradient(112.5deg, rgb(76,175,79) 0%, rgb(76,175,79) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(157.5deg, rgb(76,175,79) 0%, rgb(76,175,79) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(335deg, rgb(76,175,79) 0%, rgb(76,175,79) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(290deg, rgb(195, 195, 195),rgb(76,175,79)); background-blend-mode:overlay,overlay,overlay,normal;;
    --textscondary:rgb(113, 113, 113);
}
  

*,
*::before,
*::after {
  box-sizing: border-box;
}

  
    /* DEFAULT VALUE, DEFAULT FONT   */
*{
    margin: 0;
    padding: 0;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.navbar-container{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    height: 8vw;
    transition: all 1s ease-in-out;
    flex-wrap: wrap;

}

.navbar-container .logo{
    margin-inline-start: 5rem;
    text-align: center;
}

.navbar-container .navbar-list  {
    display: flex;
}


.navbar-list button{
    padding: 1rem;
    background-color: var(--color);
    color: #fff;
    border:none;
    margin-inline-end: 5rem;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: 700;
    transition: all 0.3s ease-in;
}


.navbar-list button:hover{
    background-color: var(--color2);
    color: var(--color);
    transition: all 1s ease-in-out;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.navbar-list ul{
    display: flex;
    margin-inline-end: 1rem;
    transition: all 1s ease-in-out;
}


.navbar-list ul li {
    align-content: center;
    list-style: none;
}

.navbar-list ul li a{
    padding: 1rem;
    text-decoration: none;
    color: #4caf4f ;
    font-weight: 500;
}

.navbar-list ul li:hover a{
    border-bottom: 1px solid #fff;
    color: var(--color3);
    transition: all 0.2s ease-in;
    cursor: pointer;
}

main{
    width: 100%;
    height: 100vh;
}

.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.content-deskripsi , .img-hero{
    padding: 1rem 6.1rem;
    margin-block-start: 20vh;
    align-content: center;
}

.content-deskripsi h1{
    font-size: 3rem;
}

.content-deskripsi .text-pilihan{
    font-size: 3.5rem;
    font-weight: 500;
}

.content-deskripsi p{
    margin-block-start: 0.5rem;
    font-size: 0.9rem;
    color: var(--textscondary);
}


.content-deskripsi button{
    margin-block-start: 2rem;
    padding: 1rem;
    background-color: var(--color);
    color: #fff;
    border:none;
    margin-inline-end: 5rem;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: 700;
    transition: all 0.3s ease-in;
}

.content-deskripsi button:hover{
    background-color: var(--color2);
    color: var(--color);
    transition: all 1s ease-in-out;
    cursor: pointer;
    transition: all 0.3s ease-in;
}




#container-sub-menu{
    position: absolute;
    padding: 2rem;
    background-color: rgba(76, 175, 79,0.8);
    margin-inline-start: 70vw ;
    margin-top: 8vw;
    display: none;
    border-radius: 30px;
    z-index: 9999;
}

.navbar-sub-menu-list ul li{
    list-style: none;
    padding: 1.5rem 1rem;
}

.navbar-sub-menu-list ul li a{
    padding: 1rem 2rem;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.navbar-sub-menu-list li:hover a{
    color: #000;
    cursor: pointer;
}
.exit{
    padding: 0.2rem 2rem;
    background-color: #fff;
    border: none;
}

#opsi{
    padding: 1rem;
    background-color: var(--color);
    color: #fff;
    border:none;
    margin-inline-end: 5rem;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: 700;
    transition: all 0.3s ease-in;
    display: none;
    cursor: pointer;
}
#opsi:hover{
    background-color: white;
    color: var(--colorv2);
    border: 1px solid #4caf4f ;
}


.content-2{
    width: 80vw;
    height: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
}

.text-content-2{
    font-weight: 500;
    color: #4D4D4D;
    padding: 0.1rem 2rem;
    text-align: center;
    line-height: 2rem;
}
.text-content-2 p {
    font-weight: 300;
}

.content-logo img{
    width: 4rem;
}

.content-logo{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 1.5rem;
    margin: auto; 
}


.content-3{
    /* border: 1px solid #000; */
    text-align: center;
    margin-top: 10rem;
}

.text-content3{
    font-weight: 500;
    color: #4D4D4D;
    padding: 0.1rem 2rem;
    text-align: center;
    line-height: 2rem;
}

.content-4{
    display: flex;
    margin: auto;
    text-align: center;
    font-weight: 400;
    color: #4D4D4D;
    gap: 5rem;
    width: 80vw;
    margin-block-start: 5rem;
}

.content-4 h3 {
    overflow: auto;
}



.content-footer{
    position: absolute;
    width: 100%;
    margin-top: 30rem;
    
}
.text-content-footer{
    padding: 1rem 2rem;
    text-align: center;
    background-color: #4caf4f;
    color: #fff;
}

.text-content-footer h1{
    font-weight: 500;
    font-size: 1rem;
}

.text-content-footer p{
    font-weight: 500;
    font-size: 0.8rem;
}

aside .content-aside ul{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: static;
    margin-top: 20vw;
}

aside .content-aside ul li{
    list-style: none;
}

aside .content-aside ul li a{
    color: #000;
}


@media screen and (max-width :924px) {
    
.navbar-list ul li, .navbar-container button{
    display: none;
}

.content{
    flex-wrap: wrap-reverse;

}

.navbar-container > #opsi{
    display: block;
}

.navbar-container, .navbar-container .navbar-sub-menu{
    justify-content: space-between;
    display: flex;
}

.content-deskripsi , .img-hero{
    margin-inline-start: 2rem;
    margin-block-start: 5vh;
}


.content-deskripsi h1{
    font-size: 1rem;
}
.content-deskripsi p{
    font-size: 0.5rem;
}

.text-content-2{
    margin-block-start: 5rem;
}

.content-logo{
    margin-block-start: 15rem;
    align-items: center;
    flex-direction: column;
}
.text-content-footer{
    margin-top: 130vh;
}

#container-sub-menu{
    margin-block-start: 5.5rem;
    margin-left: 18rem;
}

.navbar-container{
    margin-block-start: 1.5rem;
}
}


@media screen and (max-width :450px) {
    .content-aside{
        display: none;
    }

    .content-4{
        flex-wrap: wrap;
    }
}